body {
}

.container.customContainer {
    font-family: 'Roboto', sans-serif;
    font-size: large;
    color: blueviolet;
}

.jumbotron.customTitle {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    color: blueviolet;
    opacity: 1;
    background-color:#819b9a;
    opacity: 0.85;
}